body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container-fluid {
    padding: 20px;
}

.search-form {
    margin-bottom: 20px;
}

.search-btn {
    width: 100%;
}

.table {
    background-color: #fff;
}

    .table th,
    .table td {
        vertical-align: middle !important;
    }

.btn-action {
    min-width: 100px;
}
